<div class="themevale_ask-an-experts custom-joy-expert">
    <div class="contact">
        <div class="image-contact">
            <img src="/product_images/uploaded_images/{{theme_settings.product_contact-image}}" alt="">
        </div>
        <div class="content-contact">
            <p class="text">{{theme_settings.products_contact-questions}}</p>
            <div class="link">
                <a class="number-phone" href="tel:{{theme_settings.products_contact-phone}}">{{theme_settings.products_contact-phone}}</a>
                <a href="#" data-reveal-id="ask-an-expert">
                    {{theme_settings.products_contact-ask-experts}}
                    <svg class="icon"><use xlink:href="#icon-slick-next"></use></svg>
                </a>
            </div>
        </div>
    </div>
    <ul class="services">
        <li class="item">
            <div class="service-item">
                <div class="icons">
                    <i class="icon"><svg><use xlink:href="#{{theme_settings.products_services-icon-1}}"></use></svg></i>
                </div>
                <div class="content">
                    <h4 class="title">{{theme_settings.products_services-title-1}}</h4>
                    <p class="description">{{theme_settings.products_services-content-1}}</p>
                </div>
            </div>
        </li>
        <li class="item">
            <div class="service-item">
                <div class="icons">
                    <i class="icon"><svg><use xlink:href="#{{theme_settings.products_services-icon-2}}"></use></svg></i>
                </div>
                <div class="content">
                    <h4 class="title">{{theme_settings.products_services-title-2}}</h4>
                    <p class="description">{{theme_settings.products_services-content-2}}</p>
                </div>
            </div>
        </li>
        <li class="item">
            <div class="service-item">
                <div class="icons">
                    <i class="icon"><svg><use xlink:href="#{{theme_settings.products_services-icon-3}}"></use></svg></i>
                </div>
                <div class="content">
                    <h4 class="title">{{theme_settings.products_services-title-3}}</h4>
                    <p class="description">{{theme_settings.products_services-content-3}}</p>
                </div>
            </div>
        </li>
        <li class="item">
            <div class="service-item">
                <div class="icons">
                    <i class="icon"><svg><use xlink:href="#{{theme_settings.products_services-icon-4}}"></use></svg></i>
                </div>
                <div class="content">
                    <h4 class="title">{{theme_settings.products_services-title-4}}</h4>
                    <p class="description">{{theme_settings.products_services-content-4}}</p>
                </div>
            </div>
        </li>
    </ul>
</div>
