<div class="joy-custom-video-block">
    <div class="container">
        <div class="joy-custom-video-inner">
            <div class="joy-custom-video-content">
                <div class="section-title"> 
                    <h2 class="page-heading">Custom Solutions for Your Business</h2>
                </div>
                <div class="joy-custom-video-content-text">
                    <p>Empowering businesses with tailored mobile solutions and accessories, The Joy Factory offers flexible customization options. From custom branding to fully modified devices, our solutions integrate seamlessly with sensors and other unique functions to boost productivity in any environment.</p>
                </div>
                <a href="https://thejoyfactory.com/custom-solutions/" class="custom-joy-btn with-arrow">Start Customizing</a>
            </div>
            <div class="joy-custom-video">
                <!-- <div class="joy-custom-video-inner-block">
                    <a href="#" class="video-play-icon" onclick="playVideo(event)">
                        <img src="{{cdn 'img/video-play.svg'}}" alt="Video Play Icon">
                    </a>
                </div> -->
                <!-- Video container -->
                <div class="video-container joy-custom-video-inner-block" id="video-container">
                    <iframe
                        width="560"
                        height="315"
                        src="https://www.youtube.com/embed/Up4sYlWAdII?autoplay=0&rel=0"
                        title="YouTube video player"
                        frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen>
                    </iframe>
                </div>
            </div>
            
        </div>
    </div>
</div>
