<div class="themevale_securityImage">
    <ul>
        <li>
            <img class="lazyload" src="{{cdn 'img/loading.svg'}}" data-src="/product_images/uploaded_images/{{theme_settings.product_security-image-1}}" alt="lazyload">
        </li>
        <li>
            <img class="lazyload" src="{{cdn 'img/loading.svg'}}" data-src="/product_images/uploaded_images/{{theme_settings.product_security-image-2}}" alt="lazyload">
        </li>
        <li>
            <img class="lazyload" src="{{cdn 'img/loading.svg'}}" data-src="/product_images/uploaded_images/{{theme_settings.product_security-image-3}}" alt="lazyload">
        </li>
        <li>
            <img class="lazyload" src="{{cdn 'img/loading.svg'}}" data-src="/product_images/uploaded_images/{{theme_settings.product_security-image-4}}" alt="lazyload">
        </li>
    </ul>
</div>
