<div class="themevale_featuredBrands themevale_section background-gray padding-top-50 padding-bottom-50">
    <div class="container"> 
        <div class="page-heading-wrapper">
            <h2 class="page-heading">{{lang 'brand.featured_brands'}}</h2>
            <a class="page-heading-link" href="/brands/">{{lang 'brand.view_brands'}}</a>
        </div>
        <div class="brandsImage-slider" data-slick='{ 
            "dots": true,
            "arrows": false,
            "rows": 2,
            "autoplay": false,
            "slidesToShow": 2, 
            "slidesToScroll": 2, 
            "adaptiveHeight": true,
            "mobileFirst": true,
            "infinite": false,
            "nextArrow": "<svg class=&apos;slick-next slick-arrow&apos;><use xlink:href=&apos;#icon-slick-next&apos;></use></svg>", 
            "prevArrow": "<svg class=&apos;slick-prev slick-arrow&apos;><use xlink:href=&apos;#icon-slick-prev&apos;></use></svg>",
            "responsive": [
                {
                    "breakpoint": 1100,
                    "settings": {
                        "slidesToShow": 5,
                        "slidesToScroll": 5,
                        "dots": true,
                        "arrows": true
                    }
                },
                {
                    "breakpoint": 767,
                    "settings": {
                        "slidesToShow": 4,
                        "slidesToScroll": 4
                    }
                },
                {
                    "breakpoint": 551,
                    "settings": {
                        "slidesToShow": 3,
                        "slidesToScroll": 3
                    }
                }
            ]}'>
            <div class="brand-item">
                <a href="#" class="featured-brand"><img class="lazyload" src="http://caros-demo.mybigcommerce.com/content/loading.svg" data-src="https://cdn11.bigcommerce.com/s-35csgqmz9s/product_images/uploaded_images/brand-1.png" alt="" /></a> 
            </div>
            <div class="brand-item">
                <a href="#" class="featured-brand"><img class="lazyload" src="http://caros-demo.mybigcommerce.com/content/loading.svg" data-src="https://cdn11.bigcommerce.com/s-35csgqmz9s/product_images/uploaded_images/brand-2.png" alt="" /></a> 
            </div>
            <div class="brand-item">
                <a href="#" class="featured-brand"><img class="lazyload" src="http://caros-demo.mybigcommerce.com/content/loading.svg" data-src="https://cdn11.bigcommerce.com/s-35csgqmz9s/product_images/uploaded_images/brand-3.png" alt="" /></a> 
            </div>
            <div class="brand-item">
                <a href="#" class="featured-brand"><img class="lazyload" src="http://caros-demo.mybigcommerce.com/content/loading.svg" data-src="https://cdn11.bigcommerce.com/s-35csgqmz9s/product_images/uploaded_images/brand-4.png" alt="" /></a> 
            </div>
            <div class="brand-item">
                <a href="#" class="featured-brand"><img class="lazyload" src="http://caros-demo.mybigcommerce.com/content/loading.svg" data-src="https://cdn11.bigcommerce.com/s-35csgqmz9s/product_images/uploaded_images/brand-5.png" alt="" /></a> 
            </div>
            <div class="brand-item">
                <a href="#" class="featured-brand"><img class="lazyload" src="http://caros-demo.mybigcommerce.com/content/loading.svg" data-src="https://cdn11.bigcommerce.com/s-35csgqmz9s/product_images/uploaded_images/brand-6.png" alt="" /></a> 
            </div>
            <div class="brand-item">
                <a href="#" class="featured-brand"><img class="lazyload" src="http://caros-demo.mybigcommerce.com/content/loading.svg" data-src="https://cdn11.bigcommerce.com/s-35csgqmz9s/product_images/uploaded_images/brand-7.png" alt="" /></a> 
            </div>
            <div class="brand-item">
                <a href="#" class="featured-brand"><img class="lazyload" src="http://caros-demo.mybigcommerce.com/content/loading.svg" data-src="https://cdn11.bigcommerce.com/s-35csgqmz9s/product_images/uploaded_images/brand-8.png" alt="" /></a> 
            </div>
            <div class="brand-item">
                <a href="#" class="featured-brand"><img class="lazyload" src="http://caros-demo.mybigcommerce.com/content/loading.svg" data-src="https://cdn11.bigcommerce.com/s-35csgqmz9s/product_images/uploaded_images/brand-9.png" alt="" /></a> 
            </div>
            <div class="brand-item">
                <a href="#" class="featured-brand"><img class="lazyload" src="http://caros-demo.mybigcommerce.com/content/loading.svg" data-src="https://cdn11.bigcommerce.com/s-35csgqmz9s/product_images/uploaded_images/brand-10.png" alt="" /></a> 
            </div>
            <div class="brand-item">
                <a href="#" class="featured-brand"><img class="lazyload" src="http://caros-demo.mybigcommerce.com/content/loading.svg" data-src="https://cdn11.bigcommerce.com/s-35csgqmz9s/product_images/uploaded_images/brand-1.png" alt="" /></a> 
            </div>
            <div class="brand-item">
                <a href="#" class="featured-brand"><img class="lazyload" src="http://caros-demo.mybigcommerce.com/content/loading.svg" data-src="https://cdn11.bigcommerce.com/s-35csgqmz9s/product_images/uploaded_images/brand-2.png" alt="" /></a> 
            </div>
            <div class="brand-item">
                <a href="#" class="featured-brand"><img class="lazyload" src="http://caros-demo.mybigcommerce.com/content/loading.svg" data-src="https://cdn11.bigcommerce.com/s-35csgqmz9s/product_images/uploaded_images/brand-3.png" alt="" /></a> 
            </div>
            <div class="brand-item">
                <a href="#" class="featured-brand"><img class="lazyload" src="http://caros-demo.mybigcommerce.com/content/loading.svg" data-src="https://cdn11.bigcommerce.com/s-35csgqmz9s/product_images/uploaded_images/brand-4.png" alt="" /></a> 
            </div>
        </div>
    </div>
</div> 
