{{#if items}}
    {{#or 
        ( if title '==' 'Brand') 
        ( if title '==' 'Device Type' ) 
        ( if title '==' 'Industry')
        ( if title '==' 'Features')
        ( if title '==' 'Promotions')
    }} 
    <div class="accordion-block sidebarBlock">
        <div
            class="accordion-navigation toggleLink"
            role="button"
            data-collapsible="#facetedSearch-content--{{hyphenate facet }}"
            aria-controls="facetedSearch-content--{{hyphenate facet }}"
            aria-expanded="false">
            <h5 class="sidebarBlock-heading">
                {{{title}}}
            </h5>

            <div class="accordion-navigation-actions">
                {{#if selected}}
                    <a href="{{ remove_url }}" class="facetedSearch-clearLink" data-faceted-search-facet>
                        {{lang 'search.faceted.clear'}}
                    </a>
                {{/if}}
                <img src="{{cdn 'assets/img/open.svg'}}" class="icon accordion-indicator toggleLink-text toggleLink-text--off" alt="Open Icon" />
                <img src="{{cdn 'assets/img/close.svg'}}" class="icon accordion-indicator toggleLink-text toggleLink-text--on" alt="Close Icon" />
            </div>
        </div>

        <div id="facetedSearch-content--{{hyphenate facet }}" class="sidebarBlock-content accordion-content" aria-hidden="true">
            <ul id="facetedSearch-navList--{{hyphenate facet }}" data-facet="{{facet}}" class="navList" data-has-more-results="{{ has_more_results }}">

                {{!-- If this facet is "Features", only show the first 7 items --}}
                {{#if title '==' 'Features'}}
                    {{#each items}}
                        {{#if @index '<' 7}}
                        <li class="navList-item">
                            <a
                                href="{{ url }}"
                                class="navList-action navList-action--checkbox {{#if selected }} is-selected {{/if}}"
                                rel="nofollow"
                                data-faceted-search-facet>

                                {{!-- PROMOTIONS LABEL FIX (will not trigger here because facet title is "Features") --}}
                                {{#if (if ../title '==' 'Promotions')}}
                                    {{#if (if title '==' '1')}}
                                        Closeout
                                    {{else if (if title '==' '2')}}
                                        Clearance
                                    {{else}}
                                        {{{title}}}
                                    {{/if}}
                                {{else}}
                                    {{{title}}}
                                {{/if}}

                                <span class="navList-action-close" aria-hidden="true">
                                    <svg class="icon">
                                        <use xlink:href="#icon-close"/>
                                    </svg>
                                </span>
                            </a>
                        </li>
                        {{/if}}
                    {{/each}}
                {{else}}
                    {{!-- All other facets: render all items --}}
                    {{#each items}}
                    <li class="navList-item">
                        <a
                            href="{{ url }}"
                            class="navList-action navList-action--checkbox {{#if selected }} is-selected {{/if}}"
                            rel="nofollow"
                            data-faceted-search-facet>

                            {{!-- PROMOTIONS LABEL FIX --}}
                            {{#if (if ../title '==' 'Promotions')}}
                                {{#if (if title '==' '1')}}
                                    Closeout
                                {{else if (if title '==' '2')}}
                                    Clearance
                                {{else}}
                                    {{{title}}}
                                {{/if}}
                            {{else}}
                                {{{title}}}
                            {{/if}}

                            <span class="navList-action-close" aria-hidden="true">
                                <svg class="icon">
                                    <use xlink:href="#icon-close"/>
                                </svg>
                            </span>
                        </a>
                    </li>
                    {{/each}}
                {{/if}}

            </ul>

            {{#if show_more_toggle}}
                <a href="#facetedSearch-navList--{{hyphenate facet }}" role="button" class="toggleLink">
                    <span class="toggleLink-text toggleLink-text--off">
                        {{lang 'search.faceted.show-more'}}
                    </span>
                </a>
            {{/if}}
        </div>
    </div>
    {{/or}}
{{/if}}
